[Desktop Entry]
Type=Application
Name=slstatus
Icon=slstatus
Comment=Statusbar for dwm
Path=/usr/local/bin
Exec=/usr/local/bin/slstatus
Terminal=false
